<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartae" xmlns:web="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>Loginservlet</display-name>
    <servlet-name>Loginservlet</servlet-name>
    <servlet-class>Loginservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Loginservlet</servlet-name>
    <url-pattern>/Loginservlet</url-pattern>
  </servlet-mapping>
  <display-name>bankapp</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>adminLoginServlet</display-name>
    <servlet-name>adminLoginServlet</servlet-name>
    <servlet-class>adminLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>adminLoginServlet</servlet-name>
    <url-pattern>/adminLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>customerLoginServlet</display-name>
    <servlet-name>customerLoginServlet</servlet-name>
    <servlet-class>customerLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>customerLoginServlet</servlet-name>
    <url-pattern>/customerLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>viewUserServlet</display-name>
    <servlet-name>viewUserServlet</servlet-name>
    <servlet-class>viewUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>viewUserServlet</servlet-name>
    <url-pattern>/viewUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>registrationServlet</display-name>
    <servlet-name>registrationServlet</servlet-name>
    <servlet-class>registrationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>registrationServlet</servlet-name>
    <url-pattern>/registrationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminDashboardServlet</display-name>
    <servlet-name>AdminDashboardServlet</servlet-name>
    <servlet-class>AdminDashboardServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminDashboardServlet</servlet-name>
    <url-pattern>/AdminDashboardServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addUserServlet</display-name>
    <servlet-name>addUserServlet</servlet-name>
    <servlet-class>addUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addUserServlet</servlet-name>
    <url-pattern>/addUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addUserServle</display-name>
    <servlet-name>addUserServle</servlet-name>
    <servlet-class>addUserServle</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addUserServle</servlet-name>
    <url-pattern>/addUserServle</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddUserServlet</display-name>
    <servlet-name>AddUserServlet</servlet-name>
    <servlet-class>AddUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddUserServlet</servlet-name>
    <url-pattern>/AddUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DepositServlet</display-name>
    <servlet-name>DepositServlet</servlet-name>
    <servlet-class>DepositServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DepositServlet</servlet-name>
    <url-pattern>/DepositServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WithdrawServlet</display-name>
    <servlet-name>WithdrawServlet</servlet-name>
    <servlet-class>WithdrawServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WithdrawServlet</servlet-name>
    <url-pattern>/WithdrawServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetTransactionsServlet</display-name>
    <servlet-name>GetTransactionsServlet</servlet-name>
    <servlet-class>GetTransactionsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetTransactionsServlet</servlet-name>
    <url-pattern>/GetTransactionsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateUserServlet</display-name>
    <servlet-name>CreateUserServlet</servlet-name>
    <servlet-class>CreateUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateUserServlet</servlet-name>
    <url-pattern>/CreateUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserDetailsServlet</display-name>
    <servlet-name>UserDetailsServlet</servlet-name>
    <servlet-class>UserDetailsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserDetailsServlet</servlet-name>
    <url-pattern>/UserDetailsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateUserServlet</display-name>
    <servlet-name>UpdateUserServlet</servlet-name>
    <servlet-class>UpdateUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateUserServlet</servlet-name>
    <url-pattern>/UpdateUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteCustomerServlet</display-name>
    <servlet-name>DeleteCustomerServlet</servlet-name>
    <servlet-class>DeleteCustomerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteCustomerServlet</servlet-name>
    <url-pattern>/DeleteCustomerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModifyCustomerServlet</display-name>
    <servlet-name>ModifyCustomerServlet</servlet-name>
    <servlet-class>ModifyCustomerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModifyCustomerServlet</servlet-name>
    <url-pattern>/ModifyCustomerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteUserServlet</display-name>
    <servlet-name>DeleteUserServlet</servlet-name>
    <servlet-class>DeleteUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteUserServlet</servlet-name>
    <url-pattern>/DeleteUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewCustomerServlet</display-name>
    <servlet-name>ViewCustomerServlet</servlet-name>
    <servlet-class>ViewCustomerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewCustomerServlet</servlet-name>
    <url-pattern>/ViewCustomerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>getTransactionsServlet</display-name>
    <servlet-name>getTransactionsServlet</servlet-name>
    <servlet-class>getTransactionsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getTransactionsServlet</servlet-name>
    <url-pattern>/getTransactionsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GeneratePDFServlet</display-name>
    <servlet-name>GeneratePDFServlet</servlet-name>
    <servlet-class>GeneratePDFServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GeneratePDFServlet</servlet-name>
    <url-pattern>/GeneratePDFServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerRegistrationServlet</display-name>
    <servlet-name>CustomerRegistrationServlet</servlet-name>
    <servlet-class>CustomerRegistrationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerRegistrationServlet</servlet-name>
    <url-pattern>/CustomerRegistrationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SetNewPasswordServlet</display-name>
    <servlet-name>SetNewPasswordServlet</servlet-name>
    <servlet-class>SetNewPasswordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SetNewPasswordServlet</servlet-name>
    <url-pattern>/SetNewPasswordServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerDashboardServlet</display-name>
    <servlet-name>CustomerDashboardServlet</servlet-name>
    <servlet-class>CustomerDashboardServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerDashboardServlet</servlet-name>
    <url-pattern>/CustomerDashboardServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewTransactionsServlet</display-name>
    <servlet-name>ViewTransactionsServlet</servlet-name>
    <servlet-class>ViewTransactionsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewTransactionsServlet</servlet-name>
    <url-pattern>/ViewTransactionsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DepositServlet1</display-name>
    <servlet-name>DepositServlet1</servlet-name>
    <servlet-class>DepositServlet1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DepositServlet1</servlet-name>
    <url-pattern>/DepositServlet1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WithdrawServlet1</display-name>
    <servlet-name>WithdrawServlet1</servlet-name>
    <servlet-class>WithdrawServlet1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WithdrawServlet1</servlet-name>
    <url-pattern>/WithdrawServlet1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CloseAccountServlet</display-name>
    <servlet-name>CloseAccountServlet</servlet-name>
    <servlet-class>CloseAccountServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CloseAccountServlet</servlet-name>
    <url-pattern>/CloseAccountServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addCustomerServlet</display-name>
    <servlet-name>addCustomerServlet</servlet-name>
    <servlet-class>addCustomerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addCustomerServlet</servlet-name>
    <url-pattern>/addCustomerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddCustomerServlet</display-name>
    <servlet-name>AddCustomerServlet</servlet-name>
    <servlet-class>AddCustomerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCustomerServlet</servlet-name>
    <url-pattern>/AddCustomerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditCustomerServlet</display-name>
    <servlet-name>EditCustomerServlet</servlet-name>
    <servlet-class>EditCustomerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditCustomerServlet</servlet-name>
    <url-pattern>/EditCustomerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteCutomerServlet</display-name>
    <servlet-name>DeleteCutomerServlet</servlet-name>
    <servlet-class>DeleteCutomerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteCutomerServlet</servlet-name>
    <url-pattern>/DeleteCutomerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TransactionServlet</display-name>
    <servlet-name>TransactionServlet</servlet-name>
    <servlet-class>TransactionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TransactionServlet</servlet-name>
    <url-pattern>/TransactionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewTransactionServlet</display-name>
    <servlet-name>ViewTransactionServlet</servlet-name>
    <servlet-class>ViewTransactionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewTransactionServlet</servlet-name>
    <url-pattern>/ViewTransactionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ClosAccountServlet</display-name>
    <servlet-name>ClosAccountServlet</servlet-name>
    <servlet-class>ClosAccountServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClosAccountServlet</servlet-name>
    <url-pattern>/ClosAccountServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TransactionListServlet</display-name>
    <servlet-name>TransactionListServlet</servlet-name>
    <servlet-class>TransactionListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TransactionListServlet</servlet-name>
    <url-pattern>/TransactionListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetBalanceServlet</display-name>
    <servlet-name>GetBalanceServlet</servlet-name>
    <servlet-class>GetBalanceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetBalanceServlet</servlet-name>
    <url-pattern>/GetBalanceServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DownloadPDFservlet</display-name>
    <servlet-name>DownloadPDFservlet</servlet-name>
    <servlet-class>DownloadPDFservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DownloadPDFservlet</servlet-name>
    <url-pattern>/DownloadPDFservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CloseccountServlet</display-name>
    <servlet-name>CloseccountServlet</servlet-name>
    <servlet-class>CloseccountServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CloseccountServlet</servlet-name>
    <url-pattern>/CloseccountServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ResetPasswordServlet</display-name>
    <servlet-name>ResetPasswordServlet</servlet-name>
    <servlet-class>ResetPasswordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResetPasswordServlet</servlet-name>
    <url-pattern>/ResetPasswordServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ResetAdminPasswordServlet</display-name>
    <servlet-name>ResetAdminPasswordServlet</servlet-name>
    <servlet-class>ResetAdminPasswordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResetAdminPasswordServlet</servlet-name>
    <url-pattern>/ResetAdminPasswordServlet</url-pattern>
  </servlet-mapping>
</web-app>